@using Microsoft.AspNetCore.Identity
@using WholesaleDistributionApp.Areas.Identity.Data

@inject SignInManager<WholesaleDistributionAppUser> SignInManager
@inject UserManager<WholesaleDistributionAppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="pc-link head-link-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="pc-link head-link-primary border-0 bg-transparent p-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="pc-link head-link-primary" id="register" asp-area="Identity" asp-page="/Account/Register">
                <span class="pc-micon"><i class="ti ti-user-plus"></i></span>
                <span class="pc-mtext">Register</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="pc-link head-link-primary" id="login" asp-area="Identity" asp-page="/Account/Login">
                <span class="pc-micon"><i class="ti ti-lock"></i></span>
                <span class="pc-mtext">Login</span>
            </a>
        </li>
    }
</ul>
